body{
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    background:white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}

input{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border:1px solid #ccc;
    border-radius: 5px;
}

button{
    width: 100%;
    padding: 10px;
    margin: 10px;
    background:#0b6218;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

button:hover{
    background:skyblue;
}

a{
    color:rgb(68, 68, 158);
    text-decoration: none;
}

a:hover{
    color:rgb(41, 224, 212);
    text-decoration: underline;
}